/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        bh: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "BALANCED_HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "balanced";
        };

        hold_pref_homerow_mods: hold_pref_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_PREF_HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            quick-tap-ms = <0>;
        };

        tap_preferred_homerow_mods: tap_preferred_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED_HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB                              &kp Q                                &kp W                                   &kp E                                     &kp R                                   &kp T          &kp Y      &kp U                                   &kp I                                     &kp O                                   &kp P                                               &kp BSPC
&hold_pref_homerow_mods LSHIFT ESC   &tap_preferred_homerow_mods LCTRL A  &tap_preferred_homerow_mods LEFT_ALT S  &tap_preferred_homerow_mods LEFT_SHIFT D  &tap_preferred_homerow_mods LEFT_GUI F  &kp G          &kp H      &tap_preferred_homerow_mods LEFT_GUI J  &tap_preferred_homerow_mods LEFT_SHIFT K  &tap_preferred_homerow_mods LEFT_ALT L  &tap_preferred_homerow_mods LEFT_CONTROL SEMICOLON  &tap_preferred_homerow_mods RIGHT_SHIFT SQT
&hold_pref_homerow_mods LCTRL GRAVE  &kp Z                                &kp X                                   &kp C                                     &kp V                                   &kp B          &kp N      &kp M                                   &kp COMMA                                 &kp DOT                                 &kp FSLH                                            &hold_pref_homerow_mods RCTRL BACKSLASH
                                                                                                                  &bh LALT LBKT                             &bh LEFT_COMMAND EQUAL                  &lt 1 SPACE    &lt 2 RET  &bh LEFT_GUI MINUS                      &bh LEFT_ALT RBKT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB             &kp N1         &kp N2     &kp N3           &kp N4        &kp N5       &kp N6    &kp N7     &kp N8         &kp N9     &kp N0  &kp BSPC
&mt LEFT_SHIFT ESC  &kp LC(LS(T))  &kp LG(W)  &kp LC(LS(TAB))  &kp LC(TAB)   &kp LC(T)    &kp LEFT  &kp DOWN   &kp UP         &kp RIGHT  &trans  &kp LEFT_SHIFT
&mt LCTRL GRAVE     &trans         &trans     &trans           &trans        &trans       &trans    &trans     &trans         &trans     &trans  &bh RCTRL BACKSLASH
                                              &kp LEFT_ALT     &kp LEFT_GUI  &kp SPACE    &kp RET   &kp LCTRL  &kp RIGHT_ALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB         &kp EXCL  &kp AT      &kp HASH      &kp DLLR      &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LEFT_SHIFT  &trans    &bt BT_CLR  &bt BT_PRV    &bt BT_NXT    &trans       &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LCTRL       &trans    &trans      &trans        &trans        &trans       &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                                      &kp LEFT_ALT  &kp LEFT_GUI  &kp SPACE    &kp RET    &kp LCTRL  &kp RALT
            >;
        };
    };
};
